<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Quando si distribuisce il progetto della libreria di servizi, è necessario aggiungere il contenuto del file di configurazione al file 
  app.config dell'host. System.Configuration non supporta i file di configurazione delle librerie. -->
  <system.serviceModel>
    <services>
      <service name="GestioneOrdini.Service1">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/GestioneOrdini/Service1/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Se non è completamente qualificato, l'indirizzo è relativo all'indirizzo di base fornito sopra -->
        <endpoint address="" binding="basicHttpBinding" contract="GestioneOrdini.IService1">
          <!-- 
              Durante la distribuzione è necessario rimuovere o sostituire l'elemento Identity seguente in modo 
              che rispecchi l'identità con cui viene eseguito il servizio distribuito. Se viene rimosso, WCF dedurrà 
               automaticamente un'identità appropriata.
          -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- L'endpoint di scambio metadati viene utilizzato dal servizio per offrire una migliore visualizzazione ai client. --> 
        <!-- L'endpoint non utilizza un'associazione protetta e deve essere protetto o rimosso prima della distribuzione -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Per evitare la diffusione di informazioni sui metadati, 
          impostare i valori seguenti su false prima della distribuzione -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- Per ricevere i dettagli sull'eccezione per scopi di debug in caso di guasti, 
          impostare il valore riportato sotto su true. Impostarlo su false prima della diffusione 
          per evitare di diffondere informazioni sull'eccezione -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
